/C++/SimpleWin32Window/vcpkg_installed
/.vscode
/C++/OpenGLStuff/glad
/C++/OpenGLStuff/glfw-3.4.bin.WIN64
/C++/WxWidgetWindowAndTextEncoding/wxWidgets-3.3.1-headers
/C++/WxWidgetWindowAndTextEncoding/.vscode
/Maurice_DnD.md